@if (isAddingTask) {
    <app-new-task (cancel)="onCancelAddTask()"></app-new-task>
}
<section id="tasks">
    <header>
        <h2> 
            {{ userName }}'s task(s)
        </h2>
    </header>
    <menu>
        <button (click)="onStartAddNewTask()">Add a task</button>
    </menu>

    <ul>
        @for (task of selectedUserTasksByUser; track task.id) {
            <li>
                <app-task [task]="task" (complete)="onCompleteTask($event)" (cancel)="onCancelAddTask()"/>
            </li>
        }
    </ul>
</section>